/* TODO get rid of this file */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

body {
  font-size: 13px;
  line-height: 20px;
}
